html {
    background: url("https://lh3.googleusercontent.com/pw/AL9nZEWW3gagUqs8wyXCJGMdd0xdD6O6Yfz9DQoy3NwSexAIWQ52g4DFRxrae1v15YtTIWvC4h8scz3-N8p5ASa2gxTM2989wkVI4dAAK4RHYsjAqN45GyZSNOuCEV3Db5Fzf2LmS_74YOF7FjIeJ1UxBE4Omg=w1459-h820-no?authuser=0%22");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.5);
}

#title {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* The whole form */
#wholeForm {
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

/* Input Box */
#pokemonInput {
    font-size: 2rem;
}

/* Submit Button */
#submit {
    font-size: 2rem;
    font-weight: bolder;
    background-color: white;
    padding: .7rem;
    border-radius: 1rem;
}

/* Papa Div for searching pokemon, including img and p */
#showAll {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.15rem;
    padding-left: 10%;
    padding-right: 10%;
}

#bubble {
    display: block;
    background: white;
    padding: 3%;
    border-radius: 2rem;
    border: .3rem solid black;
    height: 25rem;
    width: 15rem;
    text-align: center;
    margin: 1rem 2rem;
    box-shadow: 3px 4px black
}

/* Image */
.allPokemon {
    position: relative;
    padding: 1px;
    background: white;
    width: 200px;
    line-height: 10px;
}

/*Pokemon w/Number*/
.nameNumber{
    position: relative;
    font-weight: bolder;
    font-size: 1.5rem;
}

/* Papa Random */
#randomSection {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    padding-left: 10%;
    padding-right: 10%;
}

/* Button */
#random {
    margin: 0 auto;
    display: block;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

/* Div for Random Image and Text */
#randomPokemon {
    display: block;
    background: white;
    padding: 3%;
    border-radius: 2rem;
    border: .3rem solid black;
    height: 20rem;
    width: 15rem;
    text-align: center;

    margin: 1rem 2rem;
    box-shadow: 3px 4px black
}

/* Random image only */
#randomImage {
    width: 200px;
}

/* Random text only */
#randomPokemonName {
    color: black;
}

.randomClass{
    font-weight: bolder;
    align-items: center;
}

#papaChoice {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
    padding-left: 10%;
    padding-right: 10%;
}

#pokeDropdown {
    font-size: 2rem;
    font-weight: bolder
}